.AuthLayOut {
    height : 100vh ;
    display : flex;
    flex-direction: column;
}
.Login, .Register {
    width : 40%;
    display : flex;
    flex-direction: column;
    justify-content: center;

}
.redirect-box {
    text-align: center;
}
.form-group {
    padding : 5px;
}
.button { 
    width : 70%;
}
.heading {
    font-size: 29px;
    text-align: center;
    padding-top : 30px;
    padding-bottom: 30px;
}
.button-wrapper {
    display: flex;
    justify-content: center;
}
.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
}